 @import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

 * {
    font-family: 'Hind', sans-serif;
 }



 .bannerBgImage {
    height: 100vh;
    background: url("../PORTFOLIO/images/Banner.jpg");
    background-size: cover;
    position: relative;
 }

 .bannerText {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
 }

 .bannerTitle {
    font-size: 4rem;
 }

 .bannerDesc {
    font-size: 2rem;
 }

 .card {
    cursor: pointer;
 }

 .card:hover {
    background-color: #d87093;
    border: 2px solid #9acd32;
 }

 .BIcon {
    width: 100%;
    text-align: center;
    font-size: 40px;
 }

 .img-fluid:hover {
    border: 2px solid yellowgreen;
 }

 .card-img-top {
    height: 50vh;
 }
